<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="/css.css" />
  </head>

  <body>
    <div class="nav_wrapper">
      <nav>
        <div class="title"><a href="/">Game Time</a></div>
        <li><a href="/leaderboard">Leaderboard</a></li>
      </nav>
    </div>

    <div class="wrapper">

      <%= yield %>

    </div>
  </body>
</html>
